.vote{
    width:18px;
    height:18px;
    opacity: 50%;
}


.anno-wrap{
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-top: 20px;
    height: auto;
    /* margin-bottom: 10px; */
    background-color: #E9E9E9;
    padding: 10% 10% 0% 10%
}

.anno-title{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.anno-body{
    font-size: 18px;
    margin-top: 10px;
}



.anno-vote{
    margin-top: 10px;
}


.cancel-show-anno{
    font-size: 20px;
    display: flex;
    position: relative;
    border: 1px solid black;
    background-color: transparent;
    padding: 10px 17px;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    top: -130px;
    left: 415px;
}

.cancel-show-anno:hover{
background-color: black;
color: white;
}
