.votetotal {}

.vote:hover {}

.anno-vote {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 15px;

}



#up {
    cursor: pointer;
    color: #000000;
    transition: .4s;

}


#up:active,
#down:active {
    cursor: pointer;
    color: #B395A9;
    transition: .4s;
}

#down {
    cursor: pointer;
    color: #000000;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    transition: .4s;
    margin-top: 9px;
    transform: scaleX(-1);
}
