.survey {
    background-color: rgba(255, 20, 100);
    height: 45px;
    /* display:flex; */
}

.work_in_progress {
    display: flex;
    color: white;
    justify-content: center;
    /* align-items: center; */
    padding-top: 13px;
    font-size: 12px;
}

.main-nav-alltrack {
    height: 100px;
    background: #B395A9;

}

.main-nav-alltrack-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 38px
}

.main-nav-list-alltrack-left {
    display: flex;
    font-size: 12px;
    margin-left: 2px;
    margin-right: 2px;
}

.main-nav-list-alltrack-right {
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
}

.main-nav-list-1-track,
.main-nav-list-3-track {
    color: black;
    font-size: 13px;
    /* font-weight: bold; */
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

.main-nav-list-3-track:hover {
    text-decoration: none !important;
    cursor: pointer;
}

.main-nav-list-2-track :hover {
    cursor: pointer;
    /* color:#FFFF64; */
}

.main-nav-list-2-track {
    border-radius: 30px;
    color: #717171;
    width: 27px;
    height: 27px;
    margin-right: 23px;
    border: 1.5px solid white;

}

.main-nav-list-1-track:hover {
    cursor: pointer;
    /* color:#FFFF64; */
    transition: .4s;
    border-bottom: 1px solid black
}

.main-nav-list-2-track:hover {
    cursor: pointer;
    color: white;
    font-size: 15px;
}


.user-dropdown-menu2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    margin-top: 40px;
    height: 115px;
    width: 200px;
    background-color: white;
    box-shadow: 0px 1px 8px #8d8d8d;
    border: 1px solid #dddddd;
    right: 20px;
    top: 20px;
}

/* .site-logo2 {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50pm;
  } */
.icon2 {
    margin-left: 20px;
    margin-top: 10px;
    padding-right: 20px;
}
