#icon {
  height: 22px;
  width: auto;
  display: flex;
  margin-right: 5px;
}


.empty-placeholder {
  grid-column-start: 1;
}

.site-logo {
  grid-column-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  /* background-color: #191414; */
}


.full-navigation {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #EBEBEB;
  background-color: #FFFF64;
  height: 40px;
  z-index: 1;
  min-width: 700px;
}

.session-right-nav {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  position: static;
  /* grid-column-start: 3; */
  margin-right: 10px;
}

.right-nav{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  grid-column-start: 3;
  margin-right: 10px;
}

.profile-pic:hover {
  cursor: pointer;
}

.profile-pic {
  border-radius: 30px;
  border: 1.5px solid white;
  color: #717171;
  width: 27px;
  height: 27px;
}

#nav-buttons{
  text-decoration: none;
  color: inherit;
  display: flex;
  font-size: 11px;
  font-weight: bold;
  padding: 0px 10px;
  cursor: pointer;
}

.user-dropdown-menu{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  margin-top: 10px;
  height: 115px;
  width: 200px;
  background-color: white;
  box-shadow: 0px 1px 8px #dddddd;
  border: 1px solid #dddddd;
  right: 20px;
  top: 45px;
}

.drop-down-button{
  font-size: 14px;
  border: 0;
  background-color: white;
  color: black;
  width: 100%;
  padding: 10px 15px;
  text-align: left;
  font-size: 13px;
  cursor: pointer;
}
.login-signup{
  border: none;
  background: none;
  display: flex;
  font-size: 11px;
  font-weight: bold;
  padding: 0px 10px;
  cursor: pointer;
}


.drop-down-button:hover{
  background-color: #F7F7F7;
  cursor: pointer;
}

#drop-user-profile{
  border-bottom: #E9E9E9 2px solid;
}

.user-account-text{
  font-size: 14px;
  color: black;
  padding: 8px 15px;
  text-align: left;
  margin-top: 3px;
  border-bottom: #E9E9E9 2px solid;
  font-size: 14px;
  font-weight: bold;
}
