
.annotated {
    background-color: rgb(233, 233, 233)

}

.annotated:hover {
    background-color: #B395A9;
}

.selected {
    background-color: #c3defd;
}

.now-annotating {
    background-color: #B395A9;
}

/* .selected:hover {
    background-color: red;
} */

.bold-me{
    font-weight: bold;
    line-height: 40px;
}
