.track_art {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* z-index: 2; */
    left: 18%;
    top: 15%;
    object-fit: contain;
    border: 1px solid rgb(189, 189, 189);
    height: 310px;
    width: 310px;
    object-fit: contain
}

.track_title_artist {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* z-index: 2; */
    left: 37%;
    top: 15%;
    color: black;
}

.track_title {
    font-size: 32px;
}

.track_artist {
    font-size: 16px;
}

.track_producer {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* z-index: 2; */
    top: 15%;
    left: 58%;
    color: white;
    font-size: 12px;
}

.track_producer_name {
    font-size: 16px;
    color: white;
    width: 200px;
}

.track_release {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* z-index: 2; */
    top: 15%;
    left: 70%;
    color: white;
    font-size: 12px;
}

.track_release_date {
    font-size: 16px;
    color: white;
}

.track-info-container {
    height: 280px;
    background: #B395A9;
}

.body_page {
    padding: 20px 20%
    /* margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px; */
}

.lyrics_body {
    margin-right: 100px;
    padding:5px 0px;
    font-size: 20px;
    margin-bottom: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
/* .lyric-track{ */
    /* width: 400px; */
/* } */

.buttons {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-left: 20%;
    /* margin-right: 20%; */
    margin-bottom: 30px;
    margin-top: 30px;
}

.button1{
    padding-right:5px;
    padding-top:55px;
  }

.button2{
    padding-top:55px;
  }

.track-video {
    padding: 10% 20%;
    background-color: #B395A9;
}

.lyric-wrapper {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
}

.lyric-annotate{
    width: 50%;
}
