.track_art {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* z-index: 2; */
    left: 18%;
    top: 15%;
    object-fit: contain;
    border: 1px solid rgb(189, 189, 189);
    height: 310px;
    width: 310px;
    object-fit: contain
}

.track_title_artist {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* z-index: 2; */
    left: 37%;
    top: 15%;
    color: black;
    font-size: 17px;
}

.track_title {
    font-size: 32px;
    font-weight: bold;
}

.track_artist {
    margin-top: 10px;
}

.track_producer {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* z-index: 2; */
    font-size: 12px;
    top: 15%;
    left: 62%;
    color: black;
}

.track_producer_name {
    font-size: 17px;
    width: 200px;
}

.track_release {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* z-index: 2; */
    top: 15%;
    left: 74%;
    color: black;
    font-size: 12px;
}

.track_release_date {
    font-size: 17px;
}

.track-info-container {
    height: 280px;
    background: #B395A9;
}

.body_page {
    padding: 20px 20%
        /* margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px; */
}

.lyrics_body {
    margin-right: 100px;
    padding: 5px 0px;
    /* font-size: 20px; */
    margin-bottom: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* .lyric-track{ */
/* width: 400px; */
/* } */

.buttons {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-left: 20%;
    /* margin-right: 20%; */
    margin-bottom: 30px;
    margin-top: 30px;
}

.button1,
.button2 {
    padding-right: 5px;
    padding-top: 40px;
}


.track-video {
    padding: 3% 20%;
    background-color: #B395A9;
}

.about-wrapper {
    width: 750px;
}

.lyric-wrapper {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    font-size: 18px;
}

.lyric-annotate {
    width: 50%;
}

.music-vid-text {
    color: black;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 30px;
    display: flex;
    width: 750px;
    justify-content: center;
}

.about-cover {
    width: 230px;
}

.about-artist {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-bottom: 30px;
}

.album-details{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: center;
    text-align: start;
}
.about-album-cover{
    height: auto;
}

.mv{
    border-top: 1px solid black;
    padding-top: 30px;
}
