
.featured-page {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 5% 20%;
  justify-items: center;
}

.top-feature {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

#fries {
  width: 650px;
  /* object-fit: cover; */
  height: 350px
}

.top-feature-left {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-feature-news {
  position: absolute;
  top:170px;
  background-color: white;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
}

.top-feature-news-wrapper {
  border-top: black 2px solid;
  padding-top: 30px;
}

.top-feature-title {
  font-size: 35px;
  flex-wrap: wrap;
  gap: 10px;
  overflow-wrap: break-word;
}

.top-feature-description {
  font-size: 16px;
  padding: 5px 0px;
}

.top-feature-author-date {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  font-size: 13px;
}

.top-feature-date {
  color: gray;
  margin-left: 7px;
}

.bottom-feature {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: space-between; */
  margin-top: 50px;
  height: 370px;
}


.bottom-feature-1,
.bottom-feature-2,
.bottom-feature-3 {
  border-right: black 2px solid;
}

.bottom-feature-1,
.bottom-feature-2,
.bottom-feature-3,
.bottom-feature-4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 25%;
  padding: 0px 20px;
  font-size: 20px;
  justify-content: space-between;
}

#dev {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

#individual-fries {
  display: flex;
  position: relative;
  width: 244px;
  /* object-fit: cover; */
  height: 180px;
}
