#pp-annotations-outer-container {
  border: 2px solid red;
  /* width: fit; */
  height: fit-content;
  background-color: white;
  margin: 12px 5px;
}

#pp-annotation-created-at {
  background-color:floralwhite;
}

#pp-annotation-inner-container {
  border: 1px solid pink;

}

#pp-annotation-song {
  border: 1px solid pink;
}

#pp-annotation-lyric {
  border: 1px solid pink;
}

#pp-annotation-inner-content {
  border: 1px solid pink;

}