#pp-outer {
  width: auto;
  height: 878px;
  display: flex;
  justify-content: center;
  border: 10px solid red;
}
#pp-cover-content-footer-container {
  border: 10px solid red;
  width: 45%;
  height: auto;
  display: flex;
  flex-flow: column;


}
#pp-cover-content-footer-container>* {
  padding: 1em;
}
#pp-cover {
  border: 5px solid pink;
  height: 100px; /* change up */
}
#pp-content {
  display: flex;
  flex: 1;
  border: 5px solid purple;
    /* optionnal if you want to keep footer at screen 
  overflow:auto; */
  flex-direction: row;

}
#pp-status {
  border: 5px solid blue;
  height: auto;
  width: 50%;

}
#pp-contributions {
  border: 5px solid blueviolet;
  height: auto;
  width: 50%;


}
#pp-footer {
  border: 5px solid orange;

}



.uppercase {
  text-transform: uppercase;
  font-size: 12px;
  font-weight:600;
  color: darkgray;
  margin-top: 15px;
  padding-bottom: 10px;
  padding-left: 7px;
  border-bottom: 1px solid lightgray;
}


/* pp-annotation */

