.full-screen-add-song {
  /* position: fixed; */
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  padding-bottom: 5%;
}

.add-song-wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  width: 1000px;
  font-size: 14px;
  gap: 25px;

}

#trackForm {
  display: flex;
  justify-content: center;
  align-items: center;


}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.add-song-message {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
  /* justify-content: center; */
}

.add-song-primary {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px 10px;
  border-top: 1px solid gray;
}

.add-song-additional {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px 10px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;

}

.add-by-title-album {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 20px;
}

.add-song-input {
  display: flex;
  flex-direction: row;
  width: 93%;
  padding: 4px;
  margin-top: 5px;
}

.add-song-primary-text {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.add-song-primary-text-req {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* align-content: space-between; */
}

.add-song-primary-req{
  display: flex;
  margin-left: 83%;
  color: #CCCCCC;
}

#add-song-lyric {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#lyric-input {
  resize: none;
  width: 88%;
  height: 400px;
  padding: 10px;
  margin-bottom: 20px;
}

.add-song-lyric-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.add-song-input-box {
  margin-bottom: 20px;
  width: 97%;

}

.add-song-info {
  display: flex;
  flex-direction: column;
  /* margin-left: 10px; */
  margin-top: 17px;
  width: 45%;
}

.add-song-first-time {
  display: flex;
  font-size: 16px;
  font-weight: bold;
}

.add-song-first-time-des {
  display: flex;
  font-size: 13px;
  font-weight: bold;
  color: #CCCCCC;
  margin-top: 10px;
}

li {
  margin-bottom: 10px;
  line-height: 25px;
  font-weight: bold;
  color: #CCCCCC;
  font-size: 13px;

}


.add-song-others {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}


.add-song-others-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.add-song-others-right {
  /* margin-left: 10px; */
  display: flex;
  flex-direction: column;
  width: 50%;
  /* align-content: flex-end; */
}


#errors-list > li{
  color: red;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  /* -webkit-text-stroke-color: black; */
}

.add-song-submit{
  background-color: #262626;
  color: white;
  padding: 6px 10px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 50px;
  
}
