/* .annotation-wrapper {
  position: relative;
  top: -950px;
  width: 100px;
  left: 1200px;
} */

.annotation-form-parent {
  background-color: #E9E9E9;
  width: 450px;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;

}

@media (max-width: 1500px) {
  .annotation-form-parent {
    width: 300px;
  }
}


.annotation-form-parent:after,
.annotation-form-parent:before {
  content: '';
  display: block;
  position: absolute;
  left: -28px;
  width: 0;
  height: 0;
  border-style: solid;
}


.annotation-form-parent:after {
  top: 120px;
  border-color: transparent #E9E9E9 transparent transparent;
  border-width: 15px;
}

.annotation-form-parent:before {
  top: 120px;
  border-color: transparent #E9E9E9 transparent transparent;
  border-width: 15px;
}

/* .annotate-text{
  border-bottom: 1px solid black;
  margin-bottom: 30px;
} */

.annotation-input {
  resize: none;
  /* width: 390px; */
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: #E9E9E9;
}

.annotation-submit-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.cancel-create-annotation {
  border: 1px solid transparent;
  border-radius: 25px;
  font-size: 20px;
  width: 100px;
  padding: 10px 15px;
  font-weight: bold;
  background: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.cancel-create-annotation:hover {
  background-color: rgb(214, 214, 214);
  border: 1px solid rgb(214, 214, 214);

  visibility: visible;
}

.cancel-create-annotation:active {
  text-decoration-line: none;
}

.anno-sign-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px !important;
  font-weight: bold;
  width: 200px;
  margin-bottom: 40px;
}

.login-anno {
  border-radius: 30px;
  border: 1px solid black;
  padding: 5px 8px;
  margin-right: 8px;
  cursor: pointer;
  transition: .5s;
}

.button-create-annotation {
  /* visibility: hidden; */
  border: 1px solid black;
  border-radius: 25px;
  font-size: 20px;
  width: 100px;
  padding: 10px 15px;
  font-weight: bold;
  background: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.button-create-annotation:hover {
  background-color: black;
  color: white;
  visibility: visible;
}

.annotation-button {
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px 5px;
  font-weight: bold;
  background: none;
  font-size: 12px;
  cursor: pointer;
  /* position:element(.button1); */
  /* margin-right: 3px; */
  /* position: relative; */
  /* left: -470px;
  top: -81px; */
  height: 29px;
  width: 200px;
}

@media (max-width: 1900px) {
  .annotation-button {
    left: -440px;
  }
}

@media (max-width: 1800px) {
  .annotation-button {
    left: -380px;
  }
}

@media (max-width: 1600px) {
  .annotation-button {
    left: -340px;
  }
}

@media (max-width: 1400px) {
  .annotation-button {
    left: -300px;
  }
}

.annotation-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  visibility: visible;
}
